{% extends 'base.html.twig' %}
{% block body %}
<form action="{{ path('app_account_edit', {'id': client.id}) }}" method="post">
    {{ form_widget(form) }}
    <button type="submit">Save changes</button>
</form>
{% endblock body%}
